:root {
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-hero-dark: #31261a;
  --color-hero-light: #faf4ea;
  --color-secondary: #a18268;
}

/* Base styles */

body {
  color: var(--color-hero-dark);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:link {
  color: var(--color-hero-light);
  text-decoration-line: none;
}

/* Link to header and footer */

.link {
  color: var(--color-hero-light);
}

.link:hover,
.link:focus {
  color: var(--color-brand);
}

/* Button header */

.button-ordered {
  color: var(--color-hero-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  background: var(--color-brand-light);
  cursor: pointer;
}

.button-ordered:hover,
.button-ordered:focus {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Hero section */

.hero-title {
  color: var(--color-hero-light);
}

.accent {
  color: var(--color-brand);
}

/* Advantages section */

.advantages {
  color: var(--color-hero-light);
  background-color: var(--color-brand);
}

/* .section-title {
  color: var(--color-hero-dark);
} */

/* Traditions section */

.uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.section-title .accent {
  color: var(--color-brand-dark);
}

.uppercase {
  text-transform: uppercase;
}

/* Formats section */

.formats-list {
  color: var(--color-hero-light);
}

/* Contact section */

.contacts-form-title {
  color: var(--color-brand-dark);
}

/* Form */

.contacts-form {
  color: var(--color-secondary);
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
}

.contacts-form:active {
  color: var(--color-hero-dark);
  border: 1px solid var(--color-brand);
}

.privacy {
  color: var(--color-hero-dark);
}

.map {
  border-radius: 16px;
  width: 603px;
  height: 595px;
}

/* Footer */

.address {
  font-style: normal;
}

.copyright {
  color: var(--color-secondary);
}
